<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/chatroom-styles.css" />

    <title>Message App</title>
  </head>
  <body>
    <div id="messages"></div>

    <div class="messagebox-wrapper">
      <form action="" id="message-form">
        <input
          type="text"
          name="username"
          class="input-field"
          id="usernamebox"
          placeholder="Username"
          autocomplete="off"
        />
        <input
          type="text"
          name="message"
          class="input-field"
          id="messagebox"
          placeholder="Type a message..."
          autocomplete="off"
        />
        <input type="submit" id="send-button" value="Send" />
      </form>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
    <script>
      var socket = io();

      var messages = document.getElementById("messages");
      var form = document.getElementById("message-form");
      var usernameInput = document.getElementById("usernamebox");
      var messageInput = document.getElementById("messagebox");

      let roomID = null;
      let disconnectMessageReceived = false;

      function sendMessage(author, content, alignment) {
        var messageItem = document.createElement("div");
        messageItem.className = "message-wrapper";

        var messageMetadata = document.createElement("div");
        messageMetadata.className = "message-metadata";

        if (author) {
          // omitted if it's a system message
          var messageAuthor = document.createElement("div");
          messageAuthor.className = "message-author";
          messageAuthor.innerText = author;
          messageMetadata.append(messageAuthor);
        }

        var messageDate = document.createElement("div");
        messageDate.className = "message-time-sent";
        const currentDate = new Date();
        messageDate.innerText = currentDate.toLocaleTimeString();
        messageMetadata.append(messageDate);

        messageItem.append(messageMetadata);

        var messageContent = document.createElement("div");
        messageContent.className = "message-content";
        messageContent.innerText = content;
        messageItem.append(messageContent);

        if (alignment === "right") {
          messageItem.classList.add("message-wrapper-right-aligned");
          messageMetadata.classList.add("message-metadata-right-aligned");
          messageContent.classList.add("message-content-right-aligned");
        } else {
          messageItem.classList.add("message-wrapper-left-aligned");
          messageMetadata.classList.add("message-metadata-left-aligned");
          messageContent.classList.add("message-content-left-aligned");
        }

        messages.append(messageItem);

        if (
          window.innerHeight + window.pageYOffset >=
          document.body.offsetHeight -
            (messageItem.offsetHeight + form.offsetHeight)
        ) {
          // scroll to bottom of page if user is scrolled to the most recent message
          window.scrollTo(0, document.body.scrollHeight);
        }
      }

      form.addEventListener("submit", function (e) {
        e.preventDefault();

        if (usernameInput.value && messageInput.value) {
          sendMessage("You", messageInput.value, "right");

          socket.emit(
            "chat message",
            roomID,
            usernameInput.value,
            messageInput.value
          );
          messageInput.value = "";
        }
      });

      socket.on("connect user", function () {
        roomID = window.location.pathname.replace("/room/", "");
        socket.emit("join room", roomID);
      });

      socket.on("join message", function () {
        sendMessage("", "A user has joined the chat", "left");
      });

      socket.on("disconnect user", function (data) {
        console.log("Disconnecting user message receieved");
        console.log("SID: " + data.sid);
        disconnectMessageReceived = true;
        socket.emit("leave room", [roomID, data.sid]);
      });

      socket.on("leave message", function () {
        sendMessage("", "A user has left the chat", "left");
      });

      socket.on("chat message", function (data) {
        sendMessage(data.username, data.message, "left");
      });
    </script>
  </body>
</html>
